{% extends widget.get_base_template %}

{% load applicationcontent_tags %}
{% load i18n %}
{% load package_tags %}
{% load cache %}

{% block content %}

   {% for category in object_list %}

      <h2><a href="{% url 'package_index:category_detail' category.slug %}">{{ category.title_plural }}</a> ({{ category.count }})</h2>
      <p>{{ category.description }}</p>
      <table class="table">
        <thead>
          <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Commits" %}</th>
              {% if category.show_pypi %}
                  <th>{% trans "Version" %}</th>
              {% endif %}                    
              {% if category.show_pypi %}
                  <th>{% trans "PyPi Downloads" %}</th>
              {% endif %}
              <th><span class="glyphicon glyphicon-star"></span></th>
              <th><span class="glyphicon glyphicon-random"></th>
          </tr>
        </thead>
        <tbody>
          {% for package in category.package_set.all %}
            <tr>
              <td><a href="{% url 'package_index:package_detail' package.slug %}">{{ package.title }}</a></td>
              <td><img src="https://chart.googleapis.com/chart?cht=bvg&chs=105x20&chd=t:{{package|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
              {% if category.show_pypi %}
                <td>{{ package.pypi_version }}</td>
                <td>{{ package.total_downloads }}</td>
              {% endif %}
              <td>{{ package.repo_watchers|default:"n/a" }}</td>
              <td>{{ package.repo_forks|default:"n/a" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>    
      <p>
        <a href="{% url 'package_index:package_list' %}">
          {% trans "more " %}{{ category.title_plural|lower }}...
        </a>
      </p>
   {% endfor %}

{% endblock %}
